@using Dispatcher.Web.ViewModels.ProfileModels
@using Dispatcher.Data.Models
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> userManager
@model AllCommentsViewModel

@{
    this.ViewBag.Title = "Customers reviews";
    string currUserId = this.userManager.GetUserId(this.User);
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9" style="margin: 30px auto;">
            @if (Model.Comments.Count() > 0)
            {
                <div>
                    @foreach (var comment in Model.Comments)
                    {
                        <div class="card mb-4 col-md-12 offser-md-6 shadow p-3 mb-2 bg-light rounded ">
                            <div class="card-body p-2 p-sm-3">
                                @for (int i = 0; i < comment.StarsCount; i++)
                                {
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                }
                                @for (int i = 0; i < 5 - comment.StarsCount; i++)
                                {
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                }
                                <div class="media forum-item">
                                    <div class="media-body">
                                        <p class="text-secondary">@comment.Comment</p>

                                        <div class="d-flex flex-row justify-content-between">
                                            <span>@comment.CreatedOn.ToString("g")</span>
                                            <span>@comment.AppraiserUsername</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div>
                    <p>There are no comments available.
                    @if (Model.UserId != currUserId)
                    {
                        <span>You can write the first comment!</span>  
                     }
                    </p>
                </div>
            }

            @if (Model.UserId != currUserId)
            {            
                <div class="form-control-plaintext shadow p-3 mb-2 bg-light rounded">
                    <form method="post" asp-controller="CustomersReviews" asp-action="Comment" class="col-md-12 offser-md-6">
                        <input name="userId" value="@Model.UserId" type="hidden">
                        <div class="form-group justify-content-between">
                            <label for="Comment" class="justify-content-end">Comment and </label>
                            <select name="StarsCount" class="star-rating bg-light p-1 ml-2 mb-2" pattern="[1-5]" required>
                                <option value="">Select a rating</option>
                                <option value="5">Excellent</option>
                                <option value="4">Very Good</option>
                                <option value="3">Average</option>
                                <option value="2">Poor</option>
                                <option value="1">Terrible</option>
                            </select>
                            <textarea name="Comment" class="form-control bg-light" rows="3" required minlength="2" pattern=".*\S+.*" title="This field is required"></textarea>
                        </div>
                        <button type="submit" class="tm-btn text-uppercase form-control" style="border-radius: 6px; padding-bottom: 30px;">Comment</button>
                    </form>
                </div>
            }
        </div>
    </div>
</div>
