@using Dispatcher.Web.ViewModels.ProfileModels
@model AllCommentsViewModel

@{
    this.ViewData["Title"] = "Customers reviews";
}

<section class="tm-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                <div>

                    @foreach (var comment in Model.Comments)
                    {

                        <div class="card mb-1 col-md-12 offser-md-6">
                            <div class="card-body p-2 p-sm-3">
                                @for (int i = 0; i < comment.StarsCount; i++)
                                {
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                }
                                @for (int i = 0; i < 5 - comment.StarsCount; i++)
                                {
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                }
                                <div class="media forum-item">

                                    <div class="media-body">
                                        <p class="text-secondary">@comment.Comment</p>

                                        <div class="justify-content-sm-end">
                                            <span>@comment.CreatedOn.ToString("g")</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

                <div class="form-control-plaintext">

                    <form method="post" asp-controller="CustomersReviews" asp-action="Comment" class="col-md-12 offser-md-6">
                        <input name="UserId" value="" type="hidden">
                        @*value="" @Model.Comments.FirstOrDefault().UserId*@
                        <div class="form-group justify-content-between">
                            <label for="Comment" class="justify-content-end">Comment and </label>
                            <select name="StarsCount" class="star-rating">
                                <option value="">Select a rating</option>
                                <option value="5">Excellent</option>
                                <option value="4">Very Good</option>
                                <option value="3">Average</option>
                                <option value="2">Poor</option>
                                <option value="1">Terrible</option>
                            </select>
                            <textarea name="Comment" class="form-control" rows="3" required minlength="2"></textarea>
                        </div>
                        <button type="submit" class="btn btn-outline-secondary" style="float: right;">Comment</button>
                    </form>

                </div>

            </div>

        </div>

    </div>

</section>