@model Dispatcher.Web.ViewModels.BlogModels.BlogInputModel
@{
    this.ViewData["Title"] = "New Post";
}

<h3>Create new Post</h3>

<form method="post" enctype="multipart/form-data" class="col-md-12 offser-md-8">

    <div class="form-group">
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Body">Text:</label>
        <textarea asp-for="Body" class="form-control" rows="15"></textarea>
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VideoLink">Add YouTube embed code link (optional):</label>
        <input asp-for="VideoLink" class="form-control" />
        <span asp-validation-for="VideoLink" class="text-danger"></span>
    </div>

    <div>And / Or</div><br>

    <div class="form-group">
        <label asp-for="Picture">Add Picture (optional)</label>
        <input asp-for="Picture" type="file" class="form-control-file" />
        <span asp-validation-for="Picture" class="text-danger"></span>
        <span>Allowed image file formats: .jpg, .jpeg, .png, .gif, .bmp</span>
    </div>
    <input type="submit" class="btn btn-primary" value="Create" />
</form>

@section Scripts
{
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: [
                "image paste table link code media fullscreen wordcount searchreplace lists"
            ]
        });
    </script>
}