@model Dispatcher.Web.ViewModels.BlogModels.EditBlogPostInputmodel
@{
    this.ViewData["Title"] = "Edit Post";
}

<h1>@this.ViewData["Title"]</h1>

<form method="post" class="col-md-8 offser-md-6">

    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Body">Text</label>
        <textarea asp-for="Body" class="form-control" rows="10"></textarea>
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="VideoLink">Add Picture From Url</label>
        <input asp-for="VideoLink" class="form-control" />
        <span asp-validation-for="VideoLink" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Picture">Add Picture</label>
        <input asp-for="Picture" type="file" class="form-control-file"/>
        <span asp-validation-for="Picture" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="Id" />
    <input type="submit" class="btn btn-primary" value="Save" />
</form>

@section Scripts
{
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: [
                "image paste table link code media fullscreen wordcount searchreplace lists"
            ]
        });
    </script>
}