@using Dispatcher.Web.ViewModels.ForumModels
@model DiscussionInputModel

@{
    this.ViewBag.Title = "Start new Discussion";
}

<div class="create-blog-main" style="max-width: 900px; margin-left: auto; margin-right: auto;">
    <div class="create-blog-title" style="margin:30px 10px"> 
        <h5>@this.ViewBag.Title</h5>
    </div> 
    <form method="post" asp-controller="Forum" asp-action="Create" class="col-md-12 offser-md-8">
        <div class="form-group">
            <label asp-for="CategoryId">Category</label>
            <p><select class="form-control-sm" asp-for="CategoryId" asp-items="Model.Categories.Select(t => new SelectListItem(t.Name, t.Id.ToString()))"></select></p>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="form-control" required minlength="50" rows="10"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <button type="submit" class="tm-btn text-uppercase">Create</button>
    </form>
</div>

@section Scripts
{
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: [
                "image paste table link code media fullscreen wordcount searchreplace lists"
            ]
        });
    </script>
}
