@using Dispatcher.Web.ViewModels.ForumModels
@model EditDiscussionViewModel

@{
    this.ViewBag.Title = "Edit Discussion";
}

<div class="edit-discussion-main" style="max-width: 900px; margin: 30px auto; padding: 30px; border-radius: 10px; background: #F9FCFF; -webkit-box-shadow: -3px 0px 33px 6px rgba(0,0,0,0.17); box-shadow: -3px 0px 33px 6px rgba(0,0,0,0.17); ">
    <div class="create-blog-title" style="margin-bottom:20px; margin-left: 10px;">
        <h3>@this.ViewBag.Title</h3>
    </div>
    <form method="post" asp-controller="Forum" asp-action="Edit" class="col-md-12 offser-md-8">
        <div class="form-group">
            <label asp-for="CategoryId">Category</label>
            <p><select class="form-control-sm" asp-for="CategoryId" asp-items="Model.Categories.Select(t => new SelectListItem(t.Name, t.Id.ToString()))"></select></p>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="form-control" required minlength="50" rows="12"></textarea>
            <span asp-validation-for="Description" class="text-danger" required minlength="50"></span>
        </div>
        <button type="submit" class="tm-btn text-uppercase">Save</button>
    </form>
</div>

@section Scripts
{
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script src="~/js/tinymce-init.js" type="text/javascript"></script>
}
