@model Dispatcher.Web.ViewModels.BlogModels.BlogPostViewModel

@{
    this.ViewData["Title"] = Model.Title;
}

@if (Model.RemotePictureUrl != null) {<img src="@Model.RemotePictureUrl" alt="@Model.Title" class="card-img-top">}

<div>@Model.Title</div>

<div>@Model.Body</div>