<aside class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 tm-aside-r">
    <div class="tm-aside-container">
        <h3 class="tm-gold-text tm-title tm-margin-t-small">Useful Links</h3>
        <hr class="tm-margin-t-small">
        <nav>
            <ul class="nav">
                <li><a href="#" onclick="window.open('https://github.com/')"  class="tm-text-link" style="text-decoration: none;">github.com</a></li>
                <li><a href="#" onclick="window.open('https://stackoverflow.com/')" class="tm-text-link" style="text-decoration: none;">stackoverflow.com</a></li>
                <li><a href="#" onclick="window.open('https://azure.microsoft.com/')" class="tm-text-link" style="text-decoration: none;">azure.microsoft.com</a></li>
                <li><a href="#" onclick="window.open('https://www.hackerrank.com/')" class="tm-text-link" style="text-decoration: none;">www.hackerrank.com</a></li>
                <li><a href="#" onclick="window.open('https://softuni.bg/')" class="tm-text-link" style="text-decoration: none;">softuni.bg</a></li>
            </ul>
        </nav>
        <hr class="tm-margin-t-small">
        <h3 class="tm-gold-text tm-title">Blog Post</h3>
        <hr class="tm-margin-t-small">
        <vc:random-blog-post-component is-with-picture="false"></vc:random-blog-post-component>
        <hr class="tm-margin-t-small">
    </div>
</aside>
