@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
}

<article style="margin: 50px auto; display: flex;">
    <section>
        <img src="~/img/error-exclamation-mark.png" width="200" style="margin: 70px;"/>
    </section>
    <section>
        <p style="font-size: 90px;">Oops.</p>
        <h2>Sorry, we can't find the page you're looking for.</h2>
        <p>Try checking the url, or go back to our <a href="/">home page</a>.</p>
    </section>
</article>


