@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
}

<article class="d-flex justify-content-center mt-5 col-12 shadow p-3 mb-5 bg-white rounded">
    <section class="col-3">
        <img src="~/img/error-exclamation-mark.png" class="w-100    mt-5"/>
    </section>
    <section class="col-9">
        <p style="font-size: 90px;">Oops.</p>
        <h2>@ViewBag.ErrorMessage</h2>
        <p>Try checking the url, or go back to our <a href="/">home page</a>.</p>
    </section>
</article>


