@using Dispatcher.Web.ViewModels.ForumModels
@model CategoriesWithDiscussionsCountViewModel

<div class="tm-aside-container">
    <h3 class="tm-gold-text tm-title">Categories</h3>
    <hr class="tm-margin-t-small">
    @foreach (var category in Model.Categories)
    {
        <p class="mb-2">
            <a asp-controller="Forum" asp-action="All" asp-route-category="@category.Name" class="tm-text-link text-decoration-none" style="color: #CC9900;">@category.Name (@category.DiscussionsCount)</a>
        </p>
    }
    <p class="mb-2">
        <a asp-controller="Forum" asp-action="All" asp-route-category="Unsolved" class="tm-text-link text-decoration-none" style="color: #CC9900;">Unsolved (@Model.UnsolvedCount)</a>
    </p>
    <hr class="tm-margin-t-small">
</div>
