@using Dispatcher.Web.ViewModels.ForumModels
@model CategoriesWithDiscussionsCountViewModel

<div class="tm-aside-container">
    <h3 class="tm-gold-text tm-title">Categories</h3>
    <hr class="tm-margin-t-small">
    @foreach (var category in Model.Categories)
    {
        <p style="margin-bottom: 5px;">
            <a asp-controller="Forum" asp-action="ForumDiscussions" asp-route-category="@category.Name" class="tm-text-link tm-gold-text" tm-title" style="text-decoration: none; color: #CC9900; ">@category.Name (@category.DiscussionsCount)</a>
        </p>
    }
    <p style="margin-bottom: 5px;">
        <a asp-controller="Forum" asp-action="ForumDiscussions" asp-route-category="Unsolved" class="tm-text-link " style="text-decoration: none; color: #CC9900;">Unsolved (@Model.UnsolvedCount)</a>
    </p>
    <hr class="tm-margin-t-small">
</div>
