@{ 
    this.ViewBag.Title = "Home Page"; 
}

<div style="margin-top: -18px;">
    <div style="-webkit-box-shadow: 2px 8px 28px 8px rgba(0,0,0,0.41); box-shadow: 2px 8px 28px 8px rgba(0,0,0,0.41);">
        <img src="img/tm-home-img.jpg" alt="Image" class="hidden-lg-up img-fluid">
    </div>
    <section class="tm-section">
        <div class="container-fluid">
            <div class="row mb-4">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-xs-center">
                    <h2 class="tm-gold-text tm-title">Introduction</h2>
                    <p class="tm-subtitle" style="text-align: justify;">
                        iDispatcher is the place for your ideas, to find a job, to read the news in the programming world or the find help in our forum.
                        If you have an idea and you need a team to code it you can find the best talent on our web page with a different way of compensation.
                    </p>
                </div>
            </div>
            <div class="card-group">
                <vc:random-ads ads-count="4">Ads</vc:random-ads>
            </div>
            <div class="row tm-margin-t-small">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" style="-webkit-box-shadow: -3px 0px 33px 6px rgba(0,0,0,0.17); box-shadow: -3px 0px 33px 6px rgba(0,0,0,0.17); ">
                    <vc:random-blog-post-component is-with-picture="true">Blog Post</vc:random-blog-post-component>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="tm-2-col-right">
                        <div class="tm-2-rows-md-swap">
                            <div class="row tm-2-rows-md-down-1 tm-margin-t-small">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <h3 class="tm-gold-text tm-title tm-margin-b-30">Job Offers</h3>
                                    <vc:random-jobs>Jobs</vc:random-jobs>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


