@model Dispatcher.Web.ViewModels.JobModels.AllJobsViewModel
@using Dispatcher.Common

@{
    this.ViewBag.Title = "Jobs";
    this.ViewData["Location"] = this.ViewBag.Title;
}

<div class="container-fluid">
    <nav class="navbar navbar-light bg-transparent justify-content-between">
        <div class="navbar-brand">
            <h3>
                <a asp-controller="Jobs" asp-action="AllJobs" class="tm-gold-text">@this.ViewBag.Title</a>
            </h3>
        </div>
        <form asp-controller="Jobs" asp-action="Search" method="get" class="form-inline">
            <input name="keyWords" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required minlength="2">
            <button class="btn btn-outline-secondary my-2 my-sm-0 tm-gold-text" type="submit">Search</button>
        </form>
        <div>
            <a asp-controller="Jobs" asp-action="Create" type="button" class="btn btn-outline-secondary">Post a Job</a>
        </div>
    </nav>
    <br>
    <partial name="_RenderJobsPartial" model="this.Model">
</div>