@model Dispatcher.Web.ViewModels.JobModels.JobInputModel
@{
    this.ViewData["Title"] = "New Job Ad";
}

<h1>Create new Job Ad</h1>

<form method="post" class="col-md-8 offser-md-6">

    <div class="form-group">
        <label asp-for="Title">Job Title:</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="JobBody">Job Description:</label>
        <textarea asp-for="JobBody" class="form-control" rows="10"></textarea>
        <span asp-validation-for="JobBody" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CompanyName">Company Name:</label>
        <input asp-for="CompanyName" class="form-control" />
        <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contact">Contacts:</label>
        <input asp-for="Contact" class="form-control" />
        <span asp-validation-for="Contact" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location">Location:</label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LogoUrl">Company's Logo:</label>
        <input asp-for="LogoUrl" class="form-control" />
        <span asp-validation-for="LogoUrl" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Create"/>
</form>