[*.cs]

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.DocumentationRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none

# SA0001: XML comment analysis disabled
dotnet_diagnostic.SA0001.severity = none

# IDE0019: Use pattern matching
dotnet_diagnostic.IDE0019.severity = none

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = silent

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none

# CA1816: Dispose methods should call SuppressFinalize
dotnet_diagnostic.CA1816.severity = silent

# IDE0059: Unnecessary assignment of a value
dotnet_diagnostic.IDE0059.severity = none

# CA1063: Implement IDisposable Correctly
dotnet_diagnostic.CA1063.severity = none
