@using Dispatcher.Web.ViewModels.AdModels
@model AllAdsViewModel

@{
    this.ViewBag.Title = "The Talents";
    this.ViewData["Location"] = "Ads";
}
<div class="container-fluid">
    <nav class="navbar navbar-light bg-transparent justify-content-between">
        <div class="navbar-brand">
            <h3><a asp-controller="Ads" asp-action="AllAds" class="tm-gold-text">@this.ViewBag.Title</a></h3>
        </div>
        <form asp-controller="Ads" asp-action="Search" method="get" class="form-inline" >
            <input name="keyWords"  class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0 tm-gold-text" type="submit">Search</button>
        </form>
        <span><a asp-controller="Ads" asp-action="Create" type="button" class="btn btn-outline-secondary">Create Ad</a></span>
    </nav>

    <div class="ad-main-container row tm-row">
        @foreach (var ad in Model.Ads)
        {
           <partial name="_AdCardPartial" model="ad" />
        }
    </div>
    <br>
    <partial name="_PaginationPartial" view-data="this.ViewData" />
</div>
