@using Dispatcher.Web.ViewModels.AdModels
@model EditAdViewModel

@{
    this.ViewData["Title"] = "Edit";
}
<div>
    <form method="post" asp-controller="Ads" asp-action="Edit" class="col-md-12 offser-md-8">
        <div class="form-group">
            <label asp-for="AdvertisementTypeId">Looking for</label>
            <p><select class="form-control-sm" asp-for="AdvertisementTypeId" asp-items="Model.AdTypes.Select(t => new SelectListItem(t.Type, t.Id.ToString()))"></select></p>
            <span asp-validation-for="AdvertisementTypeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="form-control" rows="12"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Compensation">Compensation</label>
            <input asp-for="Compensation" class="form-control">
            <span asp-validation-for="Compensation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PictureUrl">Picture URL</label>
            <input asp-for="PictureUrl" class="form-control">
            <span asp-validation-for="PictureUrl" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-secondary">Save</button>
    </form>
</div>

@section Scripts
{
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: [
                "image paste table link code media fullscreen wordcount searchreplace lists"
            ]
        });
    </script>
}
