@using Dispatcher.Web.ViewModels.AdModels
@model AllAdsViewModel

<p hidden>@this.TempData["KeyWords"];</p>
@{
    this.ViewBag.Title = "Search results";
    this.TempData.Keep("KeyWords");
    this.ViewData["Location"] = "SearchAd";
    this.ViewData["KeyWords"] = this.TempData["KeyWords"];
}

<div class="container-fluid">
    <nav class="navbar navbar-light bg-transparent justify-content-between">
        <div class="navbar-brand">
            <h3 class="tm-gold-text">@this.ViewBag.Title</h3>
        </div>
        <form asp-controller="Ads" asp-action="Search" method="get" class="form-inline">
            <input name="keyWords" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0 tm-gold-text" type="submit">Search</button>
        </form>
        <span><a asp-controller="Ads" asp-action="Create" type="button" class="btn btn-outline-secondary">Create Ad</a></span>
    </nav>

    @if (Model.AdsCount > 0)
    {
        <h3>@Model.AdsCount search results found</h3>
        <div class="row tm-row">
            @foreach (var ad in Model.Ads)
            {
                <partial name="_AdCardPartial" model="ad" />
            }
        </div>
        <br>
        <partial name="_PaginationPartial" view-data="this.ViewData" />
    }
    else
    {
        <h1>0 search results found</h1>
        <p>Sorry, we couldn't find any results for your search</p>
    }
</div>